MONGODB_URL=mongodb://root:root123@localhost:27017/project_management_db?authSource=admin

PORT=8000

CORS=*

ACCESS_TOKEN_SECRET=iamsecrettokenforjwt
ACCESS_TOKEN_EXPIRY=1day


REFRESH_TOKEN_SECRET=iamsecrettokenofjwt
REFRESH_TOKEN_EXPIRY=7d

# Mailtrap Configuration (for development/testing)
MAILTRAP_SMTP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_SMTP_PORT=2525
MAILTRAP_SMTP_USER=30f2e103329815
MAILTRAP_SMTP_PASS=35ab5f2e68a9e9


